doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Experiences
  body
    .header
      h1.page-title experiences

    ul.nav
      li: a(href='/') Home

    .main-content
      block content

    .footer
